googlenet/logs/*
logs\fit\
my_lenet_model.h5
my_model.h5
masks.zip
archive.zip
content/
.ipynb_checkpoints/
my_Alexnet.h5
my_model0604.h5
tfrecords/*
googlenet/checkpoints/*
*.tfrecord
*.h5
logs/*
*/logs
logs2/*
*/logs2.*
*/*.h5
